<h2>Chat-Room ||<%= @room.name %>|| </h2><br/><br/>

<div class="chat-room">
  <h4 style="text-align:center;"> Messages </h4>
  <% @messages.each do |message| %>
    <% if current_user.id == message.user_id %>
      <div id="chat-msg-current" class="chat-msg-current">
          <td>
            <%= message.content %><br/>
            <p style="color:black;">
              Toi:
            </p>
          </td>
      </div><br/>
    <% else %>
      <div id="chat-msg-others" class="chat-msg-others">
        <td>
          <%= message.content %><br/>
          <p style="color:green;">
            <%= User.find(message.user_id).email %>
          </p>
        </td>
      </div><br/>
    <% end %>
  <% end %><br/>
    <!-- <div id="messages"> </div> -->
    <hr>

  <% if current_user.admin == true%>
    <%= render 'admin/messages/form', message: @room.messages %>
  <% else %>
    <%= render 'messages/form', message: @room.messages %>
  <% end %>

</div>
