<h2>Chat-Room ||<%= @room.name %>|| </h2><br/><br/>

<div id="chat-room">
  <h4 style="text-align:center;"> Messages </h4>
  <% @messages.each do |message| %>
    <% if current_user.id == message.user_id %>
      <div id="chat-msg-current" class="chat-msg-current">
        <td>
          <%= render 'messages/message', message: message %>
        </td>
      </div><br/>
    <% else %>
      <div id="chat-msg-others" class="chat-msg-others">
        <td>
          <%= render 'messages/message', message: message %>
        </td>
      </div><br/>
    <% end %>
  <% end %><br/>

  <hr>

  <% if current_user.admin == true%>
    <%= render 'admin/messages/form', message: @room.messages %>
  <% else %>
    <%= render 'messages/form', message: @room.messages %>
  <% end %>

</div>
